[submodule "RL-OtherApps/jo_hrms"]
	path = RL-OtherApps/jo_hrms
	url = git@github.com:RL-OtherApps/jo_hrms.git
	branch = 12.0

[submodule "Royalline"]
	path = Royalline
	url = git@github.com:RLJO/Royalline.git
	branch = Bak1-4

[submodule "RL-OtherApps/app-odoo"]
	path = RL-OtherApps/app-odoo
	url = git@github.com:RL-OtherApps/app-odoo.git
	branch = 12.0
