[submodule "NewRL/PVG"]
	path = NewRL/PVG
	url = git@github.com:NewRL/PVG.git
	branch = master

[submodule "RL-OtherApps/jo_hrms"]
	path = RL-OtherApps/jo_hrms
	url = git@github.com:RL-OtherApps/jo_hrms.git
	branch = 12.0
