[submodule "suxuefeng20/odooOaModels"]
	path = suxuefeng20/odooOaModels
	url = git@github.com:suxuefeng20/odooOaModels.git
	branch = 12.0

[submodule "asphaltzipper/azi-odoo-modules"]
	path = asphaltzipper/azi-odoo-modules
	url = git@github.com:asphaltzipper/azi-odoo-modules.git
	branch = 12.0

[submodule "ksolves-store/web_listview_sticky_header"]
	path = ksolves-store/web_listview_sticky_header
	url = git@github.com:ksolves-store/web_listview_sticky_header.git
	branch = 12.0
